<a href="https://colab.research.google.com/github/kwonsoonbeom/AI_bootcamp/blob/main/n111a_EDA(1)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

# **🌱 기본 과제**

## **Part 1. EDA**

### **1-1. 데이터셋 불러오기**

우리는 이 과제를 통해 아래의 url에 존재하는 Travel.xlsx를 Pandas의 데이터프레임으로 가져와 데이터에서 의미를 도출하고자 합니다. 
- https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx

유의해야 할 점은 데이터를 불러올때, 그 파일의 형태와 구조에 따라 올바르게 불러와야 한다는 점입니다. <br> 

우선, 이 파일은 `.csv` 형태가 아닌 `.xlsx` 파일 형태입니다. 그러므로 Pandas의 `read_csv` 메서드가 아닌 `read_excel` 메서드를 활용하여 데이터를 가져와야 합니다. 또한, 이 파일은 2개의 시트로 구성되어 있으며 시트명은 각각 `008770` , `035250` 입니다. <br>

아래의 코드 Tip과 첨부된 링크를 활용하여 각 시트의 데이터가 다음 이미지와 같은 데이터프레임 형식을 갖도록 만드세요.

<img src='https://i.imgur.com/G1rLOnh.png'>

- `008770` 시트의 데이터는 **df1**으로, `035250` 시트의 데이터는 **df2**로 저장합니다.

<br>

> **💡 Tip**
1. df = pd[.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)(url, sheet_name = 0)
2. df = df[.T](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.T.html)
3. df_columns = df1[.loc](https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different)[0]
4. df[.columns](https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row) = df_columns
5. df = df[1:]

##### **Q1. `df1`의 shape을 쓰세요.**

In [ ]:
# 이곳에 코드를 작성하세요.
import pandas as pd
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'
df1 = pd.read_excel(url, sheet_name = 0)
df1 = df1.T
df1.shape

(9, 32)

##### **Q2. `df2`의 shape을 쓰세요.**

In [ ]:
# 이곳에 코드를 작성하세요.
import pandas as pd
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'
df2 = pd.read_excel(url, sheet_name = 1)
df2 = df2.T
df2.shape

(9, 32)

### **1-2. 결측치 확인**

- df1과 df2의 결측치를 확인하세요.
  - 두 데이터 프레임의 결측치 확인 후, 
[.fillna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) 메서드를 활용하여 결측치를 0으로 대체하세요. <br>
- 결측치 대체 후에 제대로 코드가 작동 하였는지 확인하도록 합니다.

##### **Q3. `df1`의 -1번째 column의 결측치는 모두 몇 개인지 구하세요.**

In [ ]:
# 이곳에 코드를 작성하세요.
df1.isnull().sum()

0     0
1     0
2     3
3     0
4     0
5     0
6     3
7     2
8     2
9     2
10    2
11    3
12    2
13    3
14    3
15    3
16    3
17    3
18    3
19    0
20    0
21    3
22    3
23    2
24    3
25    0
26    5
27    2
28    2
29    6
30    8
31    4
dtype: int64

##### **Q4. `df2`의 -1번째 column의 결측치는 모두 몇 개인지 구하세요.**

In [ ]:
# 이곳에 코드를 작성하세요.
df2.isnull().sum()

0     0
1     0
2     3
3     2
4     2
5     0
6     3
7     2
8     2
9     2
10    2
11    6
12    2
13    3
14    3
15    3
16    3
17    3
18    3
19    0
20    2
21    3
22    3
23    2
24    3
25    0
26    5
27    2
28    2
29    6
30    8
31    5
dtype: int64

### **1-3. GitHub Pull Request**

> 아래 **`🥇 도전과제`**를 풀 경우, 도전과제까지 모두 마친 후 이 문항을 마지막에 수행합니다. 

- 다음 링크를 통해 chrome에 **`open in colab`**을 설치합니다. <br>
  https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo
- colab에서 **`도구`** > **`설정`** > **`GitHub`** 으로 이동해 **`비공개 저장소 및 조직에 액세스`**에 체크합니다. <br>
  https://colab.research.google.com/
- 유어클래스의 **`[AIB] Archives`** > **`AI 부트캠프 DOCs`** > **`1. Colab 을 통한 Pull Request 과제제출`**을 참고하여 깃헙에 n111a를 PR합니다. <br>
  https://urclass.codestates.com/content/a18a5115-f614-49ab-810a-87f5024c3297?playlist=2461
- **`변경사항 설명 메세지`**에는 **`[n111a] 1차 제출`** 이라고 씁니다.

# **🥇 도전 과제**

## **Part 2. Missing Value**

##### **자산총계의 결측치를 처리하세요.**
앞선 문제에서는 결측치를 단순히 0으로 처리하였으나, 결측치를 처리하는 방법은 그 외에도 여러가지가 있습니다. <br>
다양한 imputation 방법에 대해 알아보고, 그 중 mean imputation 방법을 사용하여 `자산총계`의 결측치를 처리해보세요.

In [ ]:
# 이곳에 코드를 작성하세요.
df1['자산총계'].fillna(df1['자산총계'].mean())

주요재무정보                     자산총계
2019/09\n(IFRS연결)       37747.0
2019/12\n(IFRS연결)       35273.0
2020/03\n(IFRS연결)       33188.0
2020/06\n(IFRS연결)       33039.0
2020/09\n(IFRS연결)       32683.0
2020/12(E)\n(IFRS연결)    32388.0
2021/03(E)\n(IFRS연결)        NaN
2021/06(E)\n(IFRS연결)        NaN
Name: 7, dtype: object

## **Part 3.Feature Engineering**

##### **`부채 비율 2` 라는 새로운 피쳐를 생성하세요.**

> 부채 비율(%) = (부채총액 / 자본총액) x 100

위의 공식을 활용하여 `부채 비율 2` 라는 column을 생성합니다. 그리고, 생성한 column과 기존 `부채 비율` column의 값이 동일한지 확인해봅니다.

In [ ]:
# 이곳에 코드를 작성하세요.
df1['부채 비율2'] = (df1['부채총액'] / df1['자본총액']) * 100

KeyError: ignored

##### **`종목` 이라는 새로운 피쳐를 생성하세요.**

**`.repeat()`**를 활용하여 새로운 `종목`이라는 새로운 column을 생성합니다.
  - `df1`의 `종목` column에는 `008770` 문자열이 담기도록 합니다.  
  - `df2`의 `종목` column에는 `035250` 문자열이 담기도록 합니다. 

각각의 데이터 프레임에 `종목`이라는 column을 만든 후, 최종적으로 두 데이터프레임 `df1`과 `df2`를 **`.append()`**를 활용하여 합쳐주도록 합니다.

In [ ]:
# 이곳에 코드를 작성하세요.
import numpy as np
category_df1 = np.repeat('008770', len(df1))
category_df2 = np.repeat('035250', len(df2))
df1['종목'] = category_df1
df2['종목'] = category_df2
#set(df1.columns) == set(df2.columns)
df = df1.append(df2, ignore_index = True)
df

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,종목
0,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,...,부채비율,자본유보율,EPS(원),PER(배),BPS(원),PBR(배),현금DPS(원),현금배당수익률,현금배당성향(%),008770
1,14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0,008770
2,15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94,008770
3,9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0,008770
4,5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0,008770
5,8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,343.77,320.21,-712.0,NaN,19444.0,3.91,NaN,NaN,NaN,008770
6,9980.0,50.0,NaN,-109.0,-100.0,-100.0,NaN,32388.0,25171.0,7216.0,...,348.79,NaN,-251.0,NaN,19187.0,4.22,NaN,NaN,NaN,008770
7,9761.0,144.0,NaN,14.0,71.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,NaN,008770
8,9820.0,265.0,NaN,172.0,214.0,123.0,NaN,NaN,NaN,NaN,...,NaN,NaN,308.0,NaN,NaN,NaN,NaN,NaN,NaN,008770
9,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,...,부채비율,자본유보율,EPS(원),PER(배),BPS(원),PBR(배),현금DPS(원),현금배당수익률,현금배당성향(%),035250
10,4055.0,1392.0,1392.0,1554.0,1286.0,1286.0,0.0,41698.0,4781.0,36917.0,...,12.95,3513.86,601.0,21.0,18209.0,1.62,0.0,NaN,0.0,035250
11,3728.0,641.0,641.0,769.0,526.0,526.0,0.0,44381.0,7204.0,37178.0,...,19.38,3538.24,246.0,18.92,18337.0,1.61,900.0,NaN,346.75,035250
12,2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.0,43702.0,9945.0,33757.0,...,29.46,3218.48,-730.0,55.53,16650.0,1.19,NaN,NaN,NaN,035250
13,346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.0,39178.0,5900.0,33277.0,...,17.73,3173.64,-213.0,NaN,16414.0,1.31,NaN,NaN,0.0,035250
14,766.0,-649.0,-649.0,-552.0,-409.0,-409.0,0.0,37434.0,4560.0,32875.0,...,13.87,3136.0,-191.0,NaN,16215.0,1.33,NaN,NaN,NaN,035250
15,1581.0,-434.0,NaN,-331.0,-465.0,-314.0,NaN,38271.0,5998.0,32274.0,...,18.58,NaN,-147.0,NaN,15888.0,1.46,NaN,NaN,NaN,035250
16,1473.0,-187.0,NaN,NaN,NaN,-33.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-15.0,NaN,NaN,NaN,NaN,NaN,NaN,035250
17,1746.0,-65.0,NaN,NaN,NaN,135.0,NaN,NaN,NaN,NaN,...,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,035250